<launch>
    <node pkg="coax_control" type="coax_control" name="coax_control" output="screen"/>
        
        <param name="mass" type="double" value="40"/>

        <param name="CM_x_T" type="double" value="-0.020"/>
        <param name="CM_y_T" type="double" value="0.010"/>
        <param name="CM_z_T" type="double" value="0.939"/>
        
        <param name="Kp_pos" type="double" value="10"/>
        <param name="Kd_pos" type="double" value="7"/>

        <param name="Kp_ori_phi" type="double" value="0.5"/>
	<param name="Kp_ori_theta" type="double" value="0.857"/>
	<param name="Kp_ori_yaw" type="double" value="5.0"/>

	<param name="Kd_ori_phi" type="double" value="0.1"/>
        <param name="Kd_ori_theta" type="double" value="0.1714"/>
	<param name="Kd_ori_yaw" type="double" value="0.1"/>
        
        <param name="C_lift" type="double" value="0.000015"/>
</launch>
